<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Admin
          </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item *ngFor="let adminRouterName of adminRouteNames"
        (click) = "onClose()"
        [routerLink] = "[adminRouterName.link]">
          <mat-icon svgIcon="{{ adminRouterName.icon }}"></mat-icon>
          {{ adminRouterName.name }}
        </a>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Visitor
          </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
        <a mat-list-item *ngFor="let visitorRouterName of visitorRouteNames"
        (click) = "onClose()"
        [routerLink] = "[visitorRouterName.link]">
          <mat-icon svgIcon="{{ visitorRouterName.icon }}"></mat-icon>
          {{ visitorRouterName.name }}
        </a>
    </mat-nav-list>
  </mat-expansion-panel>

</mat-accordion>
