<div fxFlexFill style="background-color:firebrick">
  <div fxLayout="column" fxFlexFill style="background-color:orange">

    <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="10" style="background-color:grey">
      <button mat-mini-fab color="primary" (click)="onClose()">
        <mat-icon svgIcon="window-close"></mat-icon>
      </button>
      <h3 fxFlexAlign="end">Anewtech Systems Logo</h3>
      <button mat-raised-button color="primary">Howto</button>
    </div>

   

    <div fxLayout="column" fxLayoutAlign="start center" fxFlex style="background-color:rgb(163, 162, 162)">
      <h1 style="font-size:2em;">Please select from the choice below.</h1>
      <table fxLayoutAlign="center center" style="width:500px; height:500px;" cellpadding="20">
        <tr>
          <td>
            <button mat-raised-button color="primary" style="border-radius:10px;border: 2px solid black;width:400px;height:200px;font-size:1.5em;">Appointment?</button>
          </td>
          <td>
            <button mat-raised-button color="primary" style="border-radius:10px;border: 2px solid black;width:400px;height:200px;font-size:1.5em;">Document Dropoff</button>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="primary" style="border-radius:10px;border: 2px solid black;width:400px;height:200px;font-size:1.5em;">Delivery</button>
          </td>
          <td>
            <button mat-raised-button color="primary" style="border-radius:10px;border: 2px solid black;width:400px;height:200px;font-size:1.5em;">Check Out</button>
          </td>
        </tr>
      </table>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between end" fxFlex="5" style="background-color:rgb(216, 213, 213)">
      <button mat-raised-button color="primary">QR</button>
      <h4>Visitor Management System By Anewtech Systems</h4>
      <button mat-raised-button color="primary">Support</button>
    </div>

  </div>
</div>
