table{
  border: none;  
  width: 100%;
}
th {
  text-align: center;
}
td {
  padding: 2px;
  text-align: left;    
}

div.main {
  width:95%;
  margin: 0 auto;
}

div.controllers-container {
  height: 50px;
  margin: 5px 0;
  border: 1px dotted red;
}

div.profile-container {
  margin: 5px 0;
  border: 1px dotted blue;
}

div.list-container {
  border: 1px dotted gold;  
}
.mat-form-field {
  width: 80%;
  font-size: 14px;
  margin-top: 10px;
}
.mat-table {
  width: 98%;  
}

.highlight{
  background: #5DED69; /* green */
}

@-webkit-keyframes fadeIt {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #98FB98;
  }
  100% {
    background-color: #FFFFFF;
  }
}

.animate {
  background-image: none !important;
  animation: fadeIt 1s ease-in-out
}