<div class="inthemiddle" fxLayoutAlign="center center" fxLayoutGap="10%">
  <div fxLayout="column" fxLayoutAlign="center center">
      <button mat-fab>
          <mat-icon aria-label="Example icon-button with a heart icon" svgIcon="home"></mat-icon>          
        </button>
        <label>Home</label>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
      <button mat-fab>
          <mat-icon aria-label="Example icon-button with a heart icon" svgIcon="format-list-bulleted"></mat-icon>          
        </button>
        <label>List</label>
  </div>
</div>