<!--Main Buttons-->
<div class="main" fxLayout="column">
  <div class="controllers-container mat-elevation-z1" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <button mat-raised-button color="warn"  (click)="addOne()">Add a company</button>
    <button mat-raised-button color="warn"  (click)="addOneRandom()">Add a random company</button>
    <button mat-raised-button color="warn"  (click)="generateData()">Generate 50 Companies</button>
    <button mat-raised-button color="warn"  (click)="deleteAllCustomerCompanies()">Delete Companies</button>
    <mat-select class="selector-container"  [(value)]="selecteddesign" (selectionChange)="checkDesignSelection()">
        <mat-option *ngFor="let profiledesign of profiledesigns" [value]="profiledesign.value">
          {{ profiledesign.viewValue}}
        </mat-option>
     </mat-select>
  </div>

  <!--Top Card-->
  <div class="top-profile-container mat-elevation-z4" *ngIf="localcompany.id !== '' && topDesign">
    <table>
      <tr>
        <th colspan="4">Customer Company Profile</th>
      </tr>
      <tr>
        <td rowspan="4">
          <img src="{{localcompany.imgpath}}" alt="{{localcompany.name}}">
        </td>
        <td>
          <b>Name:</b>{{localcompany.name}}</td>
        <td>
          <b>Country:</b>{{localcompany.country}}</td>
        <td>
          <b>Permission:</b>{{localcompany.permission}}</td>
      </tr>
      <tr>
        <td>
          <b>Telephone:</b>{{localcompany.tel}}</td>
        <td>
          <b>Fax:</b>{{localcompany.fax}}</td>
        <td>
          <b>Website:</b>{{localcompany.homelink}}</td>
      </tr>
      <tr>
        <td colspan="2">
          <b>Address:</b>{{localcompany.address1}},{{localcompany.address2}},{{localcompany.postal}}
        </td>
        <td>
          <b>Email:</b>{{localcompany.cemail}}
        </td>
      </tr>   
    </table>
  </div>

  <!--Main Table-->
 <div class="table-container mat-elevation-z8" fxLayout="column" fxLayoutAlign="start center">
      <mat-form-field class="search-bar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  
      <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackByUid" class="animate">
        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </mat-header-cell>
          <mat-cell *matCellDef="let company">
            <img src="{{company.imgpath}}" width="50px" height="50px">
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
          <mat-cell *matCellDef="let company"> {{ company.name }} </mat-cell>
        </ng-container>
  
  
        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
          <mat-cell *matCellDef="let company"> {{ company.country }} </mat-cell>
        </ng-container>
  
  
        <ng-container matColumnDef="permission">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Permission </mat-header-cell>
          <mat-cell *matCellDef="let company"> {{ company.permission }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
          <mat-cell *matCellDef="let company">
            <button mat-raised-button color="primary" (click)="openCustomerCompanyDialog(company)">Edit</button>
            <button mat-raised-button color="accent" (click)="deleteCustomerCompanyDialog(company)">Delete</button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="onClick(row)"
          class="animate"></mat-row>
      </mat-table>
  
      <mat-paginator [pageSize]="1" [pageSizeOptions]="[1, 5, 10, 20]">
      </mat-paginator>
    </div>

       <!--Bot Card-->
   <div class="bot-profile-container mat-elevation-z4" *ngIf="localcompany.id !== '' && botDesign">
    <table>
      <tr>
        <th colspan="4">Customer Company Profile</th>
      </tr>
      <tr>
        <td rowspan="4">
          <img src="{{localcompany.imgpath}}" alt="{{localcompany.name}}">
        </td>
        <td>
          <b>Name:</b> {{localcompany.name}}</td>
        <td>
          <b>Country:</b> {{localcompany.country}}</td>
        <td>
          <b>Permission:</b> {{localcompany.permission}}</td>
      </tr>
      <tr>
        <td>
          <b>Telephone:</b>{{localcompany.tel}}</td>
        <td>
          <b>Fax:</b>{{localcompany.fax}}</td>
        <td>
          <b>Website:</b>{{localcompany.homelink}}</td>
      </tr>
      <tr>
        <td colspan="4">
          <b>Address:</b>{{localcompany.address1}},{{localcompany.address2}},{{localcompany.postal}}</td>
      </tr>
     
    </table>
  </div>
</div>





