<div class="main-company-profile mat-elevation-z1">
  <table>
    <tr>
      <th colspan="2">My Company Profile</th>
    </tr>
    <tr>
        <td colspan="2"><img width="250px" height="250px" src="{{mycompany.imgpath}}" alt="{{mycompany.id}}"></td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{mycompany.name}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{mycompany.address}}</td>
    </tr>
    <tr>
      <td>Tel</td>
      <td>{{mycompany.tel}}</td>
    </tr>
    <tr>
      <td>Fax</td>
      <td>{{mycompany.fax}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td><a href="mailto:{{mycompany.cemail}}" target="_top">{{mycompany.cemail}}</a></td>
    </tr>
    <tr>
      <td>Link</td>
      <td>          
        <a  target="_blank" [href]="sanitize(mycompany.homelink)"> <mat-icon svgIcon="home"></mat-icon></a>
        <a  target="_blank" [href]="sanitize(mycompany.fblink)"><mat-icon svgIcon="facebook"></mat-icon></a>
        <a  target="_blank" [href]="sanitize(mycompany.googlelink)"><mat-icon svgIcon="google"></mat-icon></a>
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{mycompany.desc}}</td>
    </tr>
    <tr>
      <td>Remark</td>
      <td>{{mycompany.remark}}</td>
    </tr>
  </table>
</div>

<div class="main-control-container" fxLayout="column" fxLayoutALign="center center">
  <div class="controllers-container mat-elevation-z1" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <button mat-raised-button color="warn" fxLayout="column" fxLayoutAlign="center center" (click)="addOne()">Add a company</button>
      <button mat-raised-button color="warn" fxLayout="column" fxLayoutAlign="center center" (click)="addOneRandom()">Add a random company</button>
      <button mat-raised-button color="warn" fxLayout="column" fxLayoutAlign="center center" (click)="generateData()">Generate 50 companies</button>
      <button mat-raised-button color="warn" fxLayout="column" fxLayoutAlign="center center" (click)="deleteAllVisitors()">Delete Company</button>
  </div>

  <!--Main Table-->
  <!-- <div class="table-container mat-elevation-z8" fxLayout="column" fxLayoutAlign="start center">
      <mat-form-field class="search-bar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  
      <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackByUid" class="animate">
        <ng-container matColumnDef="avatar">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </mat-header-cell>
          <mat-cell *matCellDef="let host">
            <img src="{{ host.imgpath }}" width="50px" height="50px">
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let host"> {{ mycompany.name }} </mat-cell>
        </ng-container>
  
  
        <ng-container matColumnDef="company">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
          <mat-cell *matCellDef="let host"> {{ host.company }} </mat-cell>
        </ng-container>
  
  
        <ng-container matColumnDef="ic">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Identification </mat-header-cell>
          <mat-cell *matCellDef="let host"> {{ host.ic }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
          <mat-cell *matCellDef="let host">
            <button mat-raised-button color="primary" (click)="openHostDialog(host)">Edit</button>
            <button mat-raised-button color="accent" (click)="deleteHostDialog(host)">Delete</button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="onClick(row)"
          class="animate"></mat-row>
      </mat-table>
  
      <mat-paginator [pageSize]="1" [pageSizeOptions]="[1, 5, 10, 20]">
      </mat-paginator>
    </div>
   -->
</div>




