table{
  border: none;  
  width: 100%;
}
th {
  text-align: center;
}
td {
  padding: 2px;
  text-align: left;    
}

div.main {
  width:100%;
  margin: 0 auto;
}

.mat-select.selector-container {
  width: 200px;
}

div.controllers-container {
  height: 50px;
  width: 95%;
  margin: 5px auto;
  border: 1px dotted red;
}

div.top-profile-container {
  margin: 5px 0;
  border: 1px dotted blue;
}

div.bot-profile-container {
  position: fixed; 
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;  
  background-color: aquamarine; 
  z-index: 1;
  border: 1px dotted grey; 
}

div.table-container {
  margin-bottom: 200px;
  border: 1px dotted gold;  
}
.mat-form-field {
  width: 80%;
  font-size: 14px;
  margin-top: 10px;
}
.mat-table {
  width: 98%;  
}

.highlight{
  background: #5DED69; /* green */
}

@keyframes fadeIt {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #98FB98;
  }
  100% {
    background-color: #FFFFFF;
  }
}

.animate {
  background-image: none !important;
  animation: fadeIt 1s ease-in-out
}