<div fxFlexFill style="background-color:firebrick">
    <div fxLayout="column" fxFlexFill style="background-color:orange">
  
      <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="10" style="background-color:grey">
        <button mat-mini-fab color="primary">
          <mat-icon svgIcon="arrow-left"></mat-icon>
        </button>
        <h3 fxFlexAlign="end">Anewtech Systems Logo</h3>
        <button mat-raised-button color="primary">Howto</button>
      </div>

      <div fxLayout="column wrap" fxLayoutAlign="start center" fxFlex style="background-color:rgb(163, 162, 162)">
          <div style="background-color:rgb(131, 35, 226)">
              <mat-form-field style="width:60%;padding-top:10px;">
                  <mat-label>Search contact</mat-label>
                  <input matInput placeholder="Type your contact name">
                </mat-form-field>
            </div>
        
        <div style="background-color:rgb(44, 9, 80)">
            <mat-grid-list cols="4">
                <mat-grid-tile>
                    <mat-card style="max-width:200px;">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Phone Myat Thu</mat-card-title>
                          <mat-card-subtitle>Project Engineer</mat-card-subtitle>
                        </mat-card-header>            
                        <mat-card-actions>
                          <button mat-button>SELECT</button>
                          <button mat-button>CLEAR</button>
                        </mat-card-actions>
                      </mat-card>                
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        
     
          
        
      </div>
      
  
      <div fxLayout="row" fxLayoutAlign="space-between end" fxFlex="5" style="background-color:rgb(216, 213, 213)">
        <button mat-raised-button color="primary">QR</button>
        <h4>Visitor Management System By Anewtech Systems</h4>
        <button mat-raised-button color="primary">Support</button>
      </div>
  
    </div>
  </div>
  