<div fxFlexFill style="background-color:firebrick">
  <div fxLayout="column" fxFlexFill style="background-color:orange">

    <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="10" style="background-color:grey">
      <button mat-raised-button color="primary">Languages</button>
      <h3 fxFlexAlign="end">Anewtech Systems Logo</h3>
      <button mat-raised-button color="primary">Howto</button>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxFlex style="background-color:rgb(163, 162, 162)">
      <h1 style="font-size:5em;">Welcome</h1>
      <button mat-raised-button color="primary" style="border-radius:10px;border: 2px solid black;margin-top:20%;width:60%;height:10%;font-size:2em;">Click Here To Start!</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between end" fxFlex="5" style="background-color:rgb(216, 213, 213)">
      <button mat-raised-button color="primary">QR</button>
      <h4>Visitor Management System By Anewtech Systems</h4>
      <button mat-raised-button color="primary">Support</button>
    </div>

  </div>
</div>

<!--
<div fxFlexFill style="background-color:firebrick">

  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill style="background-color:orange">

    <div fxLayout="row" fxLayoutAlign="space-between stretch" style="background-color:grey">
      <button mat-raised-button color="primary" (click)="startDialog()">Languages</button>
      <h3>Anewtech Systems Logo</h3>
      <button mat-raised-button color="primary" (click)="startDialog()">Howto</button>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around center" style="height:60%;background-color:grey">
      <h1 style="font-size:5em;">Welcome</h1>
      <button mat-raised-button color="primary" style="border-radius: 10px;border: 2px solid black;;width:60%;height:10%;font-size:2em;"
        (click)="startDialog()">Click Here To Start!</button>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between stretch" style="background-color:grey">
      <button mat-raised-button color="primary" (click)="startDialog()">QR</button>
      <h4>Visitor Management System By Anewtech Systems</h4>
      <button mat-raised-button color="primary" (click)="startDialog()">Support</button>
    </div>
  </div>
</div>
-->